@import url(../css/slider.css);


@font-face {
  font-family: DM-Sans-Regular;
  src: url(../assets/fonts/DM-Sans-Regular.woff2);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 10px;
}
a{
  text-decoration: none;
}


.categories{
  width: 100%;  
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories__Container{
  max-width: 100%;
  padding: 60px 33px 30px;
  display: flex;
  flex-wrap: wrap;
}
.categories__box__container{
  width: 50%;
  padding: 2px;

}
.categories__box__container a{
  text-decoration: none;
  color: #858585;
  font-family: DM-Sans-Regular;
  line-height: 19px;
  
}

.categories__box{
  display:flex ;
  align-items: center;
  width: 100%;
  padding: 7px 10px;
  border: 1px solid #F7F7F7;
  font-size: 1.3rem;
  transition: 0.3s;

}

.categories__box:hover{
  background-color: #f97c5f;
  color: #ffffff;
}

.categories__box--choice{
  background-color: #f97c5f;
  color: #ffffff;
}


/* POST SECTION */

.post-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.post{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 33px;
}

.post__box{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;

}

.post__img{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

}

.post__img img{
  width: 100%;
}

.post__like{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 6px 14px;
  background-color: #272727;
  position: absolute;
  right: 25px;
  top: 25px;
  border-radius: 20px;
  z-index: 2;
}

.like__num{
  font-size: 1.3rem;
  color: #a8a8a8;
  font-family: DM-Sans-Regular ;
}



.fa-heart{
  font-size: 1.3rem;
  color: white;
  margin-right: 5px;
}


.post__desc{
  width: 100%;
  padding: 25px 35px;
  display: flex;
  flex-direction: column;
}
.post__tags{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.post__tag{
  font-size: 1.3rem ;
  font-family: DM-Sans-Regular ;
  color: #00000099;
  background-color: #0000000D;
  padding: 3px 12px;
  border-radius: 20px;
  margin: 0 5px 5px 0;
}

.post__title{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.post__title h3{
  margin: 15px 0;
}

.post__title a{
  font-size: 1.9rem;
  font-family: 'Times New Roman';
  color: #1d262d;
}

.post__title p {
  font-family: DM-Sans-Regular ;
  font-size: 1.3rem;
  color: #7D736D;
  margin-bottom: 15px;
}

.post__time{
  margin-top: 20px;
  padding: 15px 0 0;
  border-top: 1px solid rgba(0,0,0,.1);
  font-family: DM-Sans-Regular ;
  font-size: 1.3rem;
  color: #a8a8a8;
}

.fa-clock{
  color: #a8a8a8;
  margin-right: 3px;
}
.cur-number::after{
  content: "130";
}
.added-number::after{
  content: "131";
}

@media (min-width: 550px) {
  .categories__box__container a{
  line-height: 21px;
  } 
  .categories__Container{
    width: 480px;
    padding: 60px 0px 30px;

  }
  .post__title a{
    font-size: 2.4rem;

  }
  .post__box{
    width: 480px;
  }
  }

@media (min-width: 770px) {
  .categories__box__container a{
    font-size:1.4rem;
    line-height: 24px;    
  } 
  .categories__Container{
    width: 695px;
    padding: 60px 0px 30px;

  }
  .categories__box__container{
    width: 25%;
    padding: 3px;
  }
  .categories__box{
    font-size: 1.3rem;
    line-height: 28px;
    font-weight: 400;  
  }
  .post{
    width: 695px;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    align-items: start;
  }

  .post__box{
    width: 32%;
  }
  .post__like{
    right: 15px;
    top: 15px;
  }
  .post__title a{
    font-size: 2.7rem;

  }
  .post__tag{
    font-size: 1.4rem ;
    line-height: 24px;
    margin-right: 8px;

  }

  .post__desc{
    padding: 20px 25px;

  }

  }

@media (min-width: 970px) {

  .categories__Container{
    width: 920px;

  }
  .categories__box__container{
    width: 20%;
    padding: 5px;
  } 
  .categories__box{
    font-size: 1.4rem;
    line-height: 28px;
    font-weight: 400;  
  }
  .post{
    width: 920px;
    gap: 20px;
 
  }
  .post__tag{
    font-size: 1.6rem ;
    margin-right: 8px;
  }
  .post__box{
    width: 31%;
  }
  .post__desc{
    padding: 25px 35px;

  }
  .post__title a{
    font-size: 3.2rem;

  }
  .post__title p {
    font-size: 1.6rem;
    line-height: 28px;
    margin: 0;
  }
  .post__time{
    font-size: 1.6rem;
  }
  
  .fa-clock{
    font-size: 1.6rem;
    padding-top: 15px;
  }
  .post__like{

    padding: 6px 14px;
    right: 25px;
    top: 25px;
    border-radius: 20px;
    z-index: 2;
  }
  
  .like__num{
    font-size: 1.6rem;
  }
  
  .fa-heart{
    font-size: 1.6rem;
  }
}
@media (min-width: 1240px) {
  .categories__box{
    font-size: 1.6rem;
    line-height: 28px;
    font-weight: 400;
  } 
  .categories__Container{
    width: 1040px;
  
  }
  .categories__box__container{
    width: 20%;
  }
  .post{
    width: 1040px;
    gap: 20px;
 
  }
  .post__box{
    width: 31.5%;
  }
}

