@import url(../css/slider.css);

@font-face {
  font-family: DM-Sans-Regular;
  src: url(../assets/fonts/DM-Sans-Regular.woff2);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 10px;
}


.categories{
  width: 100%;  
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories__Container{
  max-width: 100%;
  padding: 60px 33px 30px;
  display: flex;
  flex-wrap: wrap;
}
.categories__box__container{
  width: 50%;
  padding: 2px;

}
.categories__box__container a{
  text-decoration: none;
  color: #858585;
  font-family: DM-Sans-Regular;
  line-height: 19px;
  
}

.categories__box{
  display:flex ;
  align-items: center;
  width: 100%;
  padding: 7px 10px;
  border: 1px solid #F7F7F7;
  font-size: 1.3rem;
  transition: 0.3s;

}

.categories__box:hover{
  background-color: #f97c5f;
  color: #ffffff;
}

.categories__box--choice{
  background-color: #f97c5f;
  color: #ffffff;
}





@media (min-width: 480px) {
  .categories__box__container a{
  line-height: 21px;
  } 
  .categories__Container{
    width: 480px;
  }
  }

@media (min-width: 770px) {
  .categories__box__container a{
    font-size:1.4rem;
    line-height: 24px;    
  } 
  .categories__Container{
    width: 695px;
    padding: 60px 0px 30px;

  }
  .categories__box__container{
    width: 25%;
    padding: 3px;
  }
  .categories__box{
    font-size: 1.3rem;
    line-height: 28px;
    font-weight: 400;  
  }
  }

@media (min-width: 970px) {

  .categories__Container{
    width: 920px;

  }
  .categories__box__container{
    width: 20%;
    padding: 5px;
  } 
  .categories__box{
    font-size: 1.4rem;
    line-height: 28px;
    font-weight: 400;  
  }
  }

@media (min-width: 1240px) {
  .categories__box{
    font-size: 1.6rem;
    line-height: 28px;
    font-weight: 400;
  } 
  .categories__Container{
    width: 1040px;
  
  }
  .categories__box__container{
    width: 20%;
    padding: 2px;
  }
}

