* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

@font-face {
    font-family: my-font;
    src: url("../assets/fonts/DM-Serif-Display-Italic.woff2");

}

@font-face {
    font-family: my-font2;
    src: url("../assets/fonts/DM-Serif-Display-Regular.woff2");

}

@font-face {
    font-family: my-font3;
    src: url("../assets/fonts/DM-Sans-Italic.woff2");
}

@font-face {
    font-family: my-font4;
    src: url("../assets/fonts/DM-Sans-Medium-Regular.woff2");
}

@font-face {
    font-family: my-font5;
    src: url("../assets/fonts/DM-Sans-Regular.woff2");
}


/*£££££££££££££££££*/
/*    mobile    */


.container {
    width: 100%;

}

.container__main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.main__slider {
    background-image: url("../assets/images/tutor-home-slider-bg.jpg");
    width: 100%;
    height: auto;

}

.slider-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 33px;
    gap: 22px;

}

.slider__description {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.title {
    width: 200px;
    color: #1D262D;
    font-family: my-font2, sans-serif;
    font-size: 3.2rem;
    font-weight: normal;
    line-height: 35px;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.title__describe {
    color: #8C817A;
    width: 100%;
    display: none;
    font-family: my-font4, serif;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.slider__button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button1 {
    font-family: my-font4, sans-serif;
    background-color: #F97C5F;
    border: none;
    color: white;
    width: 80px;
    height: 28px;
    /*padding: 7px 15px;*/
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    cursor: pointer;
}

.button1:hover {
    background-color: #ef6c4e;
}

.slider__image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.home__slider--img {
    width: 320px;
    height: 280px;
}

.main__subject {
    width: 100%;


}

.subject__categories {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 33px;


}

.subjects {
    width: 100%;
    display: flex;
    flex-direction: column;


}

.headline__subject {
    width: 100%;
    display: flex;
}

.headline2 {
    font-family: my-font2, serif;
    font-size: 3rem;
    font-weight: normal;
    color: #1D262D;
    padding-bottom: 30px;
}

.button__subject {
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 0 0 20px 0;

}

.button2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    color: white;
    background-color: #F97C5F;
    width: 175px;
    height: 40px;
    border: none;
    border-radius: 40px;
    font-weight: 400;
    line-height: 20px;
    cursor: pointer;
}

.button2:hover {
    background-color: #ef6c4e;

}

.iconify {
    font-family: my-font5, sans-serif;
    font-size: 1.3rem;
    font-weight: lighter;

}

.categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 13px;
}

.categorie {
    width: 100%;
    height: 150px;
    border-radius: 20px;
    background-color: #FFF8F3;
    cursor: pointer;
    transition: 1s;

}

.categorie:hover {
    background-color: #ffdbc6;

}

.categorie-img {
    padding: 30px 0 30px 30px;

}

.categorie-name {
    text-align: start;
    font-family: my-font5, serif;
    font-size: 1.4rem;
    padding: 0 0 40px 35px;

}

.main__about-us {
    background-image: url("../assets/images/tutor-sectionbg2.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
}

.describe__about-us {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 110px 33px 0 33px;

}

.question__section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 31px;
    padding: 0 0 15px 0;
}


.question {
    color: #1D262D;
    font-family: my-font2, sans-serif;
    font-weight: normal;
    line-height: 36px;
    font-size: 3rem;
    padding: 0 0 31px 0;

}

.answer {
    color: #8C817A;
    width: 100%;
    font-family: my-font5, serif;
    justify-content: center;
    align-items: center;
    text-align: start;
    font-size: 1.3rem;
    line-height: 19px;

}

.about-us-button {
    width: 100%;
    padding: 5px 0;

}

.button3 {
    font-family: my-font4, sans-serif;
    background-color: #F97C5F;
    border: none;
    color: white;
    width: 146px;
    height: 40px;
    padding: 0 15px 0 25px;
    gap: 13px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;


}

.button3:hover {
    background-color: #ef6c4e;


}

.describe__section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 35px;
    padding: 0 0 15px 0;

}

.elerning {
    width: 100%;
    gap: 50px;

}

.elerning_img {
    padding-bottom: 30px;


}


.elerning_title {
    color: #1D262D;
    font-family: my-font2, sans-serif;
    font-size: 1.3rem;
    font-weight: lighter;
    padding-bottom: 15px;

}

.title_describe {
    color: #8C817A;
    width: 100%;
    font-family: my-font5, serif;
    text-align: start;
    font-size: 1.3rem;
    line-height: 19px;


}

.main__work-section {
    width: 100%;

}

.work_section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 120px 33px;

}

.work_title {
    color: #1D262D;
    font-family: my-font2, serif;
    font-weight: normal;
    font-size: 3rem;
    line-height: 36px;
    padding-bottom: 45px;

}

.work_step {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.step1 {
    width: 100%;

}

.step1_image {
    width: 100%;
    padding: 12px 0 5px 0;
    margin-bottom: 10px;

}

.describe__section-work {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    text-align: start;
    gap: 20px;
    padding-bottom: 8px;
    margin-left: 5px;

}

.step1_number {

}

.step1_describe {
    font-family: my-font5, sans-serif;
    font-size: 1.3rem;
    line-height: 19px;
    font-weight: lighter;
    margin-bottom: 10px;

}


.main__elearning--platfotm {
    background-image: url("../assets/images/tutor-sectionbg1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;

}

.elerning__platfotm {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 0;
    gap: 40px;

}

.platform__conditions {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: start;
    padding: 0 20px;
    gap: 40px;

}

.describe__conditions {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: start;
    gap: 30px;

}

.about__platform--title {
    width: 200PX;

}

.headline3 {
    font-family: my-font2, serif;
    font-size: 3rem;
    line-height: 36px;
    font-weight: normal;
    color: #ffffff;

}

.about__platform--describe {
    width: 100%;
}

.platform--describe {
    font-family: my-font5, serif;
    font-size: 1.3rem;
    line-height: 19px;
    color: #FFFFFF;

}

.conditions {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
    gap: 15px;
    padding-left: 5px;

}

.iconify3 {
    font-family: my-font5, serif;
    font-size: 1.3rem;
    line-height: 19px;
    color: #FFFFFF;
    padding-left: 5px;
}

.button4 {
    font-family: my-font5, sans-serif;
    background-color: #F97C5F;
    border: none;
    color: white;
    width: 135px;
    height: 40px;
    padding: 0 25px 0 25px;
    border-radius: 20px;
    text-align: center;
    font-size: 1.3rem;
    cursor: pointer;

}

.button4:hover {
    background-color: #ef6c4e;


}

.about__platform--image {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: end;
    align-items: end;
}

.platform--image {
    width: 96%;


}


.main__part6 {

}

.main__features {
    width: 100%;
    background-image: url("../assets/images/tutor-sectionbg2.jpg");
    background-repeat: no-repeat;
    background-position: center;

}
.features_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 130px 33px;
}
.our_features{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 57px;

}
.our_title{
    text-align: start;

}
.headline4{
    font-family: my-font2,serif;
    font-size: 3rem;
    line-height: 36px;
    font-weight:lighter;
    display: flex;
    text-align: start;

}
.features{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

}
.features__sections{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;

}
.features__img{

}
.features_title{


}
.our_headline{
    font-family: my-font2,serif;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 19px;


}
.features_describe{
    width: 90%;



}
.our_describe{
    font-family: my-font5,serif;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 19px;
    color: #8C817A;


}





@media screen and (min-width: 500px) {
    .slider-container {
        padding: 170px 33px;


    }

    .title {
        font-size: 5rem;
        width: 330px;
        line-height: 50px;
    }

    .slider__button {
        padding: 15px;
    }

    .button1 {
        width: 130px;
        height: 40px;
        font-size: 1.4rem;


    }

    .subjects {
        width: 550px;
        padding: 0 33px;


    }

    .headline2 {
        font-size: 3.8rem;
    }

    .categories {
        width: 550px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 33px;
        gap: 13px;
    }

    .describe__about-us {
        width: 100%;
    }

    .question__section {
        width: 480px;
    }

    .question {
        width: 450px;
        font-size: 3.8rem;
        line-height: 45px;
    }

    .answer {
        width: 450px;
        font-size: 1.3rem;
        line-height: 21px;

    }

    .describe__section {
        width: 480px;
    }

    .elerning_title {
        font-size: 1.5rem;
        padding-bottom: 17px;
    }

    .title_describe {
        line-height: 21px;

    }

    .work_section {
        width: 100%;
        padding: 120px 33px;

    }

    .work_title {
        font-size: 3.8rem;
        line-height: 45px;
        padding-bottom: 45px;

    }

    .work_step {
        width: 100%;
        padding-top: 10px;

    }

    .step1 {
        width: 100%;

    }

    .step1_image {
        width: 100%;
        padding: 0 0 0 0;

    }

    .describe__section-work {
        gap: 20px;
        margin-left: 32px;

    }

    .step1_number {
        margin: 7px 0 0 4px;

    }

    .step1_describe {
        font-size: 1.4rem;
        line-height: 21px;
        margin-bottom: 25px;
    }

    .elerning__platfotm {
        gap: 43px;
    }

    .platform__conditions {
        padding-left: 30px;
    }

    .headline3 {
        font-size: 3.8rem;
        line-height: 45px;
    }

    .platform--describe {
        font-size: 1.3rem;
        line-height: 21px;
    }

    .iconify3 {
        font-size: 1.3rem;
        line-height: 21px;
        padding-left: 3px;

    }

    .about__platform--image {

    }

    .platform--image {
        width: 97.5%;
    }
    .our_features{
        width: 90%;
    }
    .headline4{
        font-size: 3.8rem;
        line-height: 45px;
    }
    .features__img{
        /*padding-bottom: 5px;*/
    }
    .our_headline{
        font-size: 1.5rem;
        line-height: 23px;
        padding: 8px 0 0 0;
    }
    .our_describe{
        font-size: 1.3rem;
        line-height: 21px;
        padding-bottom: 3px;

    }

}

@media screen and (min-width: 770px) {
    .main__slider {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .slider-container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        gap: 50px;


    }

    .slider__description {
        width: 40%;
        display: flex;
        flex-direction: column;
        text-align: start;
        align-items: start;
        justify-content: start;
        padding: 0 31px;
        margin-bottom: 50px;
    }

    .title {
        width: 280px;
        text-align: start;
        font-size: 4.5rem;
        line-height: 48px;

    }

    .title__describe {
        display: grid;
        font-family: my-font4, serif;
        font-size: 1.1rem;
        text-align: start;
        line-height: 19px;
        padding-top: 20px;

    }


    .slider__button {
        display: flex;
        justify-content: start;
        align-items: start;
        padding: 5px 0 0 0;
    }

    .button1 {
        width: 98px;
        height: 32px;
        font-size: 1.1rem;


    }

    .slider__image {
        width: 60%;

    }

    .home__slider--img {
        width: 100%;
        height: auto;
    }

    .subject__categories {
        width: 100%;
        padding: 100px 33px;
    }

    .subjects {
        width: 760px;
        flex-direction: row;
        padding: 0 40px 20px 40px;

    }

    .headline2 {
        font-size: 4.3rem;
    }

    .button__subject {
        padding-top: 10px;

    }

    .button2 {
        width: 190px;
        height: 45px;
    }

    .iconify {
        font-size: 1.5rem;
    }

    .categories {
        width: 780px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 13px;
    }

    .categorie {
        width: 161px;
        height: 160px;
        border-radius: 20px;
        background-color: #FFF8F3;

    }
    .main__about-us {
        width: 100%;
        height: auto;
    }

    .describe__about-us {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        padding: 100px 0 100px 30px;
        gap: 40px;

    }

    .question__section {
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        padding-left: 5px;
        margin-bottom: 163px;
        gap: 50px;

    }

    .question-answer {
        width: 100%;

    }

    .question {
        width: 100%;
        font-size: 4.3rem;
        line-height: 50px;


    }

    .answer {
        width: 100%;
        font-size: 1.4rem;
        line-height: 25px;


    }

    .about-us-button {

    }

    .button3 {
        width: 150px;
        height: 45px;
        border-radius: 30px;

    }

    .iconify {
        font-size: 1.4rem;

    }

    .describe__section {
        width: 450px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        align-items: start;
        gap: 8px;
    }

    .elerning {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 205px;
        height: auto;
        gap: 2px;
        padding: 5px 2px 37px 0;
    }

    .elerning_img {
        width: 100%;
    }

    .elerning_describe {
        width: 100%;

    }

    .elerning_title {
        width: 100%;
        font-size: 1.7rem;
        line-height: 26px;

    }

    .title_describe {
        width: 100%;
        font-size: 1.4rem;
        line-height: 24px;

    }

    .work_section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        padding: 120px 33px;

    }

    .work_title {
        font-size: 4.3rem;
        line-height: 51px;

    }

    .work_step {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 710px;
        padding-top: 30px;

    }

    .step1 {
        width: 100%;
    }

    .step1_image {
        width: 100%;


    }

    .describe__section-work {
        font-size: 1.5rem;
        line-height: 24;
        gap: 20px;
        margin: -38px -10px 0 2px;
        padding: 0 0 50px 0;
    }

    .step1_number {
        padding: 0 0 25px 10px;
    }

    .step1_describe {
        width: 120px;
        height: 100px;
        font-size: 1.5rem;
        line-height: 24px;


    }
    .main__elearning--platfotm{
        width: 100%;
        height: auto;
    }

    .elerning__platfotm {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;

    }

    .describe__conditions {
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 85px;
    }

    .headline3 {
        font-size: 4.3rem;
        line-height: 51px;
        width: 210px;

    }

    .about__platform--describe {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .platform--describe {
        width: 222px;
        font-size: 1.4rem;
        line-height: 24px;
        padding-left: 10px;

    }

    .conditions {
        display: flex;
        justify-content: center;
        width: 200px;
        font-size: 1.4rem;
        line-height: 24px;
    }

    .platform__conditions {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about__platform--image {
        width: 50%;
        height: auto;
        display: flex;
        justify-content: end;
        align-items: end;
    }

    .platform--image {
        width: 99%;
        padding-bottom: 220px;

    }

    .about__platform_button {
        padding-left: 25px;
    }

    .iconify3 {
        font-size: 1.4rem;
        line-height: 24px;
    }

    .button4 {
        font-size: 1.4rem;
        width: 140px;
        height: 45px;
        border-radius: 30px;
    }
    .our_features{
        width: 695px;
        gap: 75px;
    }
    .headline4{
        font-size: 4.3rem;
        line-height: 51px;
    }
    .features{
        width: 695px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 17px;
    }
    .our_headline{
        font-size: 1.7rem;
        line-height: 26px;
    }
    .features_describe{
        width: 94%;
    }
    .our_describe{
        font-size: 1.4rem;
        line-height: 24px;
        width: 100%;
    }



}

@media screen and (min-width: 970px) {
    .main__slider {
        width: 100%;
        height: auto;


    }

    .slider-container {
        width: 100%;
        padding: 0 0;
        margin: 210px 33px 120px 47px;
        gap: 20px;


    }

    .slider__description {
        width: 45%;
        padding: 0 33px;

    }

    .title {
        width: 380px;
        font-size: 5.6rem;
        line-height: 60px;

    }

    .title__describe {
        width: 380px;
        font-size: 1.4rem;
        line-height: 24px;
        padding-top: 25px;

    }

    .slider__button {
        padding-top: 10px;

    }

    .button1 {
        font-size: 1.4rem;
        line-height: 28;
        width: 127px;
        height: 40px;
        padding: 2px;


    }

    .slider__image {
        width: 55%;


    }

    .home__slider--img {
        width: 100%;
    }

    .subject__categories {
        width: 100%;
        padding: 100px 0;

    }

    .subjects {
        width: 920px;
        padding: 20px 5px;
    }

    .headline2 {
        font-size: 5rem;
    }

    .button__subject {
        padding-top: 10px;

    }

    .button2 {
        width: 200px;
        height: 50px;
    }

    .iconify {
        font-size: 1.6rem;
    }

    .categories {
        width: 980px;
        padding: 0 15px;
        /*gap: 13px;*/
    }

    .categorie {
        width: 220px;
        height: 155px;
        background-color: #FFF8F3;
        padding: 0;

    }

    .categorie-name {
        font-size: 1.9rem;
    }
    .main__about-us {
        width: 100%;
        height: auto;
    }

    .describe__about-us {
        width: 100%;
        padding: 100px 0 100px 20px;
        gap: 40px;

    }

    .question__section {
        width: 350px;
        padding-left: 0;
        margin-bottom: 163px;
        gap: 50px;

    }

    .question-answer {
        width: 100%;

    }

    .question {
        width: 100%;
        font-size: 5rem;
        line-height: 60px;


    }

    .answer {
        width: 100%;
        font-size: 1.6rem;
        line-height: 28px;


    }

    .button3 {
        width: 165px;
        height: 48px;
        border-radius: 30px;

    }

    .iconify {
        font-size: 1.6rem;

    }

    .describe__section {
        width: 600px;
    }

    .elerning {
        width: 270px;
        height: auto;
    }

    .elerning_img {
        width: 100%;

    }

    .elerning_describe {
        width: 100%;

    }

    .elerning_title {
        width: 100%;
        font-size: 2rem;
        line-height: 30px;

    }

    .title_describe {
        width: 100%;
        font-size: 1.6rem;
        line-height: 28px;

    }

    .work_section {
        width: 100%;
        padding: 120px 33px;

    }

    .work_title {
        font-size: 5rem;
        line-height: 60px;
    }

    .work_step {
        width: 710px;
        padding-top: 30px;

    }

    .step1 {
        width: 100%;
    }

    .step1_image {
        width: 100%;


    }
    .main__elearning--platfotm{
        width: 1000px;
        height: auto;
    }

    .describe__section-work {
        width: 320px;
        gap: 20px;
        margin: -40px -10px 0 2px;
        padding: 0 0 50px 5px;
    }

    .step1_number {
        padding: 0 0 25px 10px;
    }

    .step1_describe {
        width: 190px;
        height: 100px;
        font-size: 1.8rem;
        line-height: 28px;

    }
    .main__elearning--platfotm{
        width: 100%;
        height: auto;
    }

    .elerning__platfotm {
        gap: 45px;
    }

    .platform__conditions {
        margin-bottom: 50px;
    }

    .headline3 {
        width: 250px;
        font-size: 5rem;
        line-height: 60px;
    }

    .platform--describe {
        width: 300px;
        font-size: 1.6rem;
        line-height: 28px;
        margin-left: 35px;
    }

    .iconify3 {
        font-size: 1.6rem;
        line-height: 28px;
        padding-left: 5px;
    }

    .button4 {
        font-size: 1.6rem;
        width: 150px;
        height: 50px;
        border-radius: 30px;

    }
    .our_features{
        width: 920px;

    }
    .features{
        width: 100%;
    }
    .headline4{
        font-size: 5rem;
        line-height: 60px;
    }
    .our_headline{
        font-size: 2rem;
        line-height: 30px;
    }
    .features_describe{
        width: 100%;
    }
    .our_describe{
        font-size: 1.6rem;
        line-height: 27px;
    }




}

@media screen and (min-width: 1240px) {
    .main__slider {
        width: 100%;


    }

    .slider-container {
        width: 1200px;
        height: auto;
        padding: 52px 0 0 30px;

    }

    .slider__description {
        width: 50%;

    }

    .title {
        width: 450px;
        font-size: 7rem;
        line-height: 75px;

    }

    .title__describe {
        font-size: 1.7rem;
        line-height: 30px;
        width: 460px;
        padding-top: 30px;

    }

    .slider__button {
        padding-top: 15px;

    }

    .button1 {
        font-size: 1.7rem;
        width: 160px;
        height: 50px;
        border-radius: 30px;


    }

    .slider__image {
        width: 50%;
        height: auto;


    }

    .home__slider--img {
        width: 100%;
        height: auto;

    }

    .subject__categories {
        width: 100%;
        padding: 100px 0;

    }

    .subjects {
        width: 1045px;
        padding: 20px 5px;
    }

    .headline2 {
        font-size: 5.2rem;
    }

    .button__subject {
        padding-top: 10px;

    }

    .button2 {
        width: 195px;
        height: 50px;
    }

    .iconify {
        font-size: 1.6rem;
    }

    .categories {
        width: 1200px;
        padding: 0 15px;
        gap: 23px;
    }

    .categorie {
        width: 240px;
        height: 160px;
        background-color: #FFF8F3;
        padding: 0;

    }

    .categorie-name {
        font-size: 1.9rem;
    }
    .main__about-us {
        width: 100%;
    }

    .describe__about-us {
        width: 100%;
        padding: 100px 0 100px 20px;
        gap: 40px;

    }

    .question__section {
        width: 350px;
        padding-left: 0;
        margin-bottom: 163px;
        gap: 50px;

    }

    .question-answer {
        width: 100%;

    }

    .question {
        width: 100%;
        font-size: 5rem;
        line-height: 60px;


    }

    .answer {
        width: 100%;
        font-size: 1.6rem;
        line-height: 28px;


    }


    .button3 {
        width: 165px;
        height: 48px;
        border-radius: 30px;

    }

    .iconify {
        font-size: 1.6rem;

    }

    .describe__section {
        width: 600px;
    }

    .elerning {
        width: 270px;
        height: auto;
    }

    .elerning_img {
        width: 100%;

    }

    .elerning_describe {
        width: 100%;

    }

    .elerning_title {
        width: 100%;
        font-size: 2rem;
        line-height: 30px;

    }

    .title_describe {
        width: 100%;
        font-size: 1.6rem;
        line-height: 28px;

    }

    .work_section {
        width: 100%;
        padding: 120px 33px;

    }

    .work_title {
        font-size: 5rem;
        line-height: 60px;
    }

    .work_step {
        width: 710px;
        padding-top: 30px;

    }

    .step1 {
        width: 100%;
    }

    .step1_image {
        width: 100%;
    }
    .main__elearning--platfotm{
        width: 100%;
    }

    .describe__section-work {
        width: 355px;
        gap: 20px;
        margin: -40px -10px 0 7px;
        padding: 0 0 50px 5px;
    }

    .step1_number {
        padding: 0 0 25px 10px;
    }

    .step1_describe {
        width: 220px;
        height: 100px;
        font-size: 1.8rem;
        line-height: 28px;

    }
    .main__elearning--platfotm{
        width: 1600px;
    }

    .elerning__platfotm {
        /*width: 1040px;*/
        gap: 80px;
    }

    .platform__conditions {
        margin-bottom: 160px;

    }

    .about__platform--describe {
        width: 400px;
        margin-left: 90px;

    }

    .platform--describe {
        width: 350px;
    }

    .about__platform--image {
        width: 730px;

    }
    .our_features{
        width: 1040px;
    }
    .features_describe{
        width: 250px;
    }



}

